.intro{
  font: "georgia";
  font-size: 50px;
  display: block;
  text-align: center;
}
.weather-wrapper{
  background-color: #DECFB4;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  border: 5px;
}
.weather-panel{
  background-color: #A19581;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: inline;
}
.weather-icon{
  width: 20%;
}
